[submodule "Petric-solidity-smartcontract/foundry-simple-storage/lib/forge-std"]
	path = Petric-solidity-smartcontract/foundry-simple-storage/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
